$text: #555555;
$title: #505050;
$accent: #f8b043;
$accent-hover: #ffaa28;

%muller-300{
  font-family: 'Muller', sans-serif;
  font-weight: 300;
}

%muller-300i{
  font-family: 'Muller', sans-serif;
  font-weight: 300;
  font-style: italic;
}

%muller-400{
  font-family: 'Muller', sans-serif;
  font-weight: 400;
}

%muller-500{
  font-family: 'Muller', sans-serif;
  font-weight: 500;
}

%bebas-400{
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
}

%bebas-700{
  font-family: 'BebasNeue', sans-serif;
  font-weight: 700;
}

%montserrat-300{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

%montserrat-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

